@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i');
body{
  font-family: 'Muli', sans-serif;
  background:#ddd;
}
header{
  background:#212121;
  padding:20px 0;
  height: 180px;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.logo {
  width: 70px;
  height: 70px;
  border-radius:50%;
}
.search {
 display: absolute;
 margin-left: 180px;
  margin-top: -95px; 
}

.search input {
  width: 80%;
  border-radius: 9px;
}

.search button {
  background-color: #fff;
  color: #fff;
  padding: 16px;
  border: none;
  border-radius: 9px;
  margin-left: 10px;
}
.search img {
  width: 20px;
  height: 20px;
  margin-left: 0px;
  margin-top: 0px;
}
.signup {
  background-color: #f3960a;
  border: 1px solid #f3960a;
  margin: 0 20px;
  float: right;
  font-weight: bold;
  color: aliceblue;
  border-radius: 9px;
  margin-top: -95px;
  margin-right: 10px;
  }

.signup:hover {
  background-color: #7e571d;
}
.account img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.account {
  background-color: #f3960a;
  border: 1px solid #f3960a;
  margin: 0 10px;
  float: right;
  font-weight: bold;
  color: aliceblue;
  border-radius: 9px;
  margin-top: -55px;
}

/*cart code starts here*/
.floating-cart {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 70px;
  height: 70px;
  cursor: pointer;
  z-index: 100;
}

.floating-cart img {
  width: 100%;
  height: 100%;
}


/*end of cart*/

.shell{
  padding:80px 0;
}
.wsk-cp-product{
  background:#fff;
  padding:15px;
  border-radius:6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  position:relative;
  margin:20px auto;
}
.wsk-cp-img{
  position:absolute;
  top:5px;
  left:50%;
  transform:translate(-50%);
  -webkit-transform:translate(-50%);
  -ms-transform:translate(-50%);
  -moz-transform:translate(-50%);
  -o-transform:translate(-50%);
  -khtml-transform:translate(-50%);
  width: 100%;
  padding: 15px;
  transition: all 0.2s ease-in-out;
}
.wsk-cp-img img{
  width:100%;
  transition: all 0.2s ease-in-out;
  border-radius:6px;
}
.wsk-cp-product:hover .wsk-cp-img{
  top:-40px;
}
.wsk-cp-product:hover .wsk-cp-img img{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.wsk-cp-text{
  padding-top:150%;
}
.wsk-cp-text .category{
  text-align:center;
  font-size:12px;
  font-weight:bold;
  padding:5px;
  margin-bottom:45px;
  position:relative;
  transition: all 0.2s ease-in-out;
}
.wsk-cp-text .category > *{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  -khtml-transform: translate(-50%,-50%);
    
}
.wsk-cp-text .category > span{
  padding: 12px 30px;
  border: 1px solid #313131;
  background:#212121;
  color:#fff;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border-radius:27px;
  transition: all 0.05s ease-in-out;
  
}
.wsk-cp-product:hover .wsk-cp-text .category > span{
  border-color:#ddd;
  box-shadow: none;
  padding: 11px 28px;
}
.wsk-cp-product:hover .wsk-cp-text .category{
  margin-top: 0px;
}
.wsk-cp-text .title-product{
  text-align:center;
}
.wsk-cp-text .title-product h3{
  font-size:20px;
  font-weight:bold;
  margin:15px auto;
  overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  width:100%;
}
.wsk-cp-text .description-prod p{
  margin:0;
}
/* Truncate */
.wsk-cp-text .description-prod {
  text-align:center;
  width: 100%;
  height:62px;
  overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  margin-bottom:15px;
}
